h1{
    color: red;
}

.coral {
    background-color: coral;
}

.green {
    background-color: chartreuse;
}

.blue {
    background-color: aqua;
}

.yellow {
    background-color: gold;
}

.pink {
    background-color: hotpink;
}
